.about {
    padding-top: 90px;
    &__second {
        padding-bottom: 194px;
        padding-top: 62px;
    }
    &__services {
        padding-top: 62px;
        padding-bottom: 417px;
    }
    &__installations {
        padding-top: 62px;
        padding-bottom: 80px;
    }
    &__wrapper {
        margin-left: 165px;
        position: relative;
    }
    &__img {
        position: absolute;
        top: -90px;
        right: 197px;
    }
    &__wrapper-img {
        position: absolute;
        top: 31px;
        left: -20px;
    }
    &__descr {
        margin-top: 48px;
        max-width: 933px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
    }
    &__text {
        font-size: 18px;
        line-height: 30px;
    }
    &__wrapper-btn {
        display: flex;
        justify-content: flex-end;
        padding-right: 133px;
        
    }
    &__btn {
        margin-top: 43px;
        width: 143px;
        height: 40px;
        background-color: #0c2c56;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: #085086;
        }
    }
    a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
    }
    span {
        color: #f4b407;
        
    }
    .blue {
        color: #0a6ab2;
    }
    &__workshop {
        padding: 20px 20px 22px 20px;
        border: 2px solid #f4b407;
        width: 909px;
        position: relative;
        margin-top: 34px;
        &-img {
            position: absolute;
            top: 496px;
        }
        &_wrapper {
            display: flex;
            justify-content: space-between;
        }
        &-subtitle {
            text-align: center;
            margin-top: 23px;
        }
    }
    &__installation {
        padding: 20px 20px 22px 20px;
        border: 2px solid #f4b407;
        width: 909px;
        position: relative;
        margin-top: 34px;
        &-img {
            position: absolute;
            top: 511px;
        }
        &_wrapper {
            display: flex;
            justify-content: center;
        }
        &-subtitle {
            text-align: center;
            margin-top: 23px;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 40px;
        li::before {
            content: "\2022";
            color: #0a6ab2;
        }
    }
    &__ecva480_2,
    &__low-image {
        display: none;
    }
    
}
.home {
    &__abs_about_768,
    &__abs_about {
        display: none;
    }
}
.footer {
    &__about_top,
    &__about_low {
        display: none;
    }
    
}