.articles {
    padding-top: 117px;
    &__second {
        padding-top: 121px;
        padding-bottom: 258px;
    }
    .title {
        text-align: center;
        &_art {
            text-align: left;
            padding-left: 162px;
        }
    }
    &__wrapper {
        position: relative;
        width: 949px;
        height: 397px;
        border: 2px solid #f4b407;
        margin: auto;
        margin-top: 56px;
        pointer-events: none;
        &:hover {
            background: #0c2c56;
        }
    }
    &__subtitle {
        margin-top: 40px;
        color: #0a6ab2;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    &__text {
        margin-top: 25px;
        margin-left: 57px;
        p {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            max-width: 711px;
            transition: 0.3s all;
        }
    }
    &__btn {
        width: 169px;
        height: 40px;
        background-color: #085086;
        border: none;
        margin: 35px 24px 21px 756px;
        cursor: pointer;
        &:hover, &:focus {
            .articles__wrapper, .articles__wrapper-last {
                background: #0c2c56;
            }
        }
        a {
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            pointer-events: auto;
            
        }
    }
    &__wrapper-last {
        position: relative;
        width: 949px;
        height: 265px;
        border: 2px solid #f4b407;
        margin: auto;
        margin-top: 35px;
        pointer-events: none;
        &:hover {
            background: #0c2c56;
        }
    }
    &__link {
        display: flex;
        margin-left: 1013px;
        margin-right: 32px;
        margin-top: 28px;
        &-second {
            margin-top: 57px;
            text-align: right;
            padding-right: 155px;
        }
        a {
            color: #085086;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            &:hover, &:focus {
                text-decoration: none;
                color: #004e88;
            }
        }
    }
    &__wrapper-top {
        position: absolute;
        top: 378px;
        left: 65px;
    }
    &__wrapper-low {
        position: absolute;
        left: 65px;
        top: 246px;
    }
    &__img {
        top: 277px;
        left: 455px;
        position: absolute;
    }
    &__description {
        max-width: 933px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        padding-right: 22px;
        margin: 0 auto;
        padding-top: 35px;
    }
    &__wrapper_second {
        margin-top: 36px;
    }
    &__pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
        li {
            display: inline;
            a {
                text-decoration: none;
                padding: 4px 6px;
                color: #0a6ab2;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                &.active {
                    background-color: #085086;
                    color: white;
                }
                &:hover, &:focus {
                    color: #ffffff;
                }
            }
        }
    }
    svg {
        fill: #5e6366;
        height: auto;
        width: 16px;
        vertical-align: middle;
        &:hover, &:focus {
            fill: #095087;
        }
    }
}