@media (max-width: 1001px) {
    .studio {
        padding: 12px 85px 124px;
        &__descr {
            margin-top: 0;
            font-size: 18px;
        }
        &__wrapper_wrapper {
            flex-direction: column-reverse;
            padding-top: 35px;
        }
        &__audio__wrapper {
            max-width: 300px;
        }
        &__wrapper_wrapper-left-text {
            margin-top: 40px;
            max-width: 335px;
        }
    }
}

@media (max-width: 769px) {
    .studio {
        padding: 15px 60px 155px;
        &__wrapper_wrapper {
            padding-top: 20px;
        }
    }
}

@media (max-width: 600px) {
    .studio {
        padding: 10px 25px 100px;
        &__descr {
            font-size: 16px;
            line-height: 24px;
        }
        &__wrapper_wrapper {
            padding-bottom: 20px;
        }
    }
}

@media (min-width: 322px) and (max-width: 380px) {
    .studio {
        &__audio__wrapper {
            padding: 0 5px 25px 5px;
            &-item audio {
                width: 100%;
            }
        }
    }
}

@media (max-width: 321px) {
    .studio {
        padding: 4px 15px 50px;
        &__descr {
            font-size: 12px;
        }
        &__audio__wrapper {
            padding: 0 5px 25px 5px;
            &-item audio {
                width: 100%;
            }
        }
    }
}