@media (max-width: 1001px) {
    .comments {
        .comment {
            padding: 0 20px;
            .container {
                max-width: 828px;
            }
        }
    }
    .container__padding {
        padding: 0 20px;
    }
    .reviews {
        &__second {
            padding-top: 16px;
        }
        &__info {
            padding: 0;
            padding-bottom: 35px;
        }
        &__wrapper-info {
            padding-left: 85px;
        }
        &__btn-info {
            margin-left: 0;
        }
        &__text-second,
        &__wrapper-second {
            padding-right: 0;
        }
    }
    
}

@media (max-width: 769px) {
    .comments {
        .comment {
            .container {
                max-width: 649px;
            }
        }
    }
    .reviews {
        &__second {
            padding-bottom: 117px;
        }
        &__description {
            font-size: 18px;
            line-height: 30px;
        }
        &__wrapper-info {
            padding-left: 25px;
        }
        &__text-second {
            font-size: 16px;
            line-height: 26px;
        }
        &__wrapper-second {
            padding-right: 60px;
        }
    }

}

@media (max-width: 600px) {
    .comments {
        .comment {
            .container {
                max-width: 431px;
            }
        }
    }
    .reviews {
        &__info {
            flex-direction: column;
            align-items: flex-end;
            padding-bottom: 20px;
        }
        &__description {
            font-size: 16px;
            line-height: 24px;
        }
        &__btn-info {
            margin-top: 27px;
        }
        &__text-second {
            font-size: 14px;
            line-height: 26px;
        }
        &__wrapper-second {
            padding-right: 25px;
        }
    }
}

@media (max-width: 321px) {
    .comments {
        .comment {
            .container {
                max-width: 291px;
            }
        }
    }
    .reviews {  
        &__description {
            font-size: 12px;
            line-height: 24px;
        }
        &__btn-info {
            margin-top: 0;
        }
        &__text-second {
            font-size: 12px;
            line-height: 24px;
        }
    }
}