@media (max-width: 1001px) {
    .about {
        &__wrapper-second {
            margin-left: 0;
        }
        &__descr-second {
            font-size: 18px;
            line-height: 30px;
            margin-top: 0;
            p {
                padding-right: 0;
            }
        }
        &__workshop {
            width: auto;
            padding: 15px 15px 20px 15px;
        }
        &__workshop-left img {
            height: 100%;
            max-width: 484px;
        }
        &__workshop-right img {
            height: 100%;
            max-width: 285px;
        }
        &__workshop-img {
            top:auto;
            bottom: -24px;
        }
        &__services {
            padding: 12px 85px 124px;
        }
    }
}

@media (min-width: 770px) and (max-width: 990px) {
    .about {
        &__workshop_wrapper-second {
            flex-direction: column;
            align-items: center;
        }
        &__workshop-right img {
            margin-top: 15px;
        }
    }
}

@media (max-width: 769px) {
    .about {
        &__services {
            padding: 15px 60px 155px;
        }
        &__descr-second {
            margin-top: 20px;
            p {
                padding-right: 0;
            }
        } 
        &__workshop {
            padding: 13px 13px 10px 13px;
        }
        &__workshop-left img {
            max-width: 380px;
            max-height: 285px;
        }
        &__workshop-right img {
            max-width: 224px;
            max-height: 285px;
        }
        &__workshop-subtitle {
            margin-top: 5px;
            .title {
                font-size: 20px;
            }
        }
    }
}

@media (min-width: 701px) and (max-width: 760px) {
    .about {
        &__workshop-left img {
            max-width: 350px;
            max-height: 280px;
        }
        &__workshop-right img {
            max-width: 190px;
            max-height: 280px;
        }
    }

}

@media (min-width: 601px) and (max-width: 700px) {
    .about {
        &__workshop_wrapper-second {
            flex-direction: column;
            align-items: center;
        }
        &__workshop-right img {
            margin-top: 15px;
        }
    }
}

@media (max-width: 600px) {
    .about {
        &__services {
            padding: 10px 25px 100px;
        }
        &__workshop_wrapper-second {
            flex-direction: column;
            align-items: center;
        }
        &__workshop-right img {
            margin-top: 15px;
        }
        &__descr-second {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media (min-width: 322px) and (max-width: 450px) {
    .about {
        &__workshop-left img {
            max-width: 260px;
            max-height: 195px;
        }

    }
}

@media (max-width: 321px) {
    .about {
        &__workshop-left img {
            max-width: 260px;
            max-height: 195px;
        }
        &__workshop-right img {
            max-width: 224px;
            max-height: 285px;
        }
        &__descr-second {
            font-size: 12px;
            line-height: 24px;
        }
        &__services {
            padding: 4px 15px 50px;
        }
    }
}