@media (min-width: 1000px) and (max-width: 1650px) {
    .carousel {
        &__two {
            margin-left: 200px;
        }
    }
}

@media (min-width: 1002px) and (max-width: 1580px) {
    .header {
        &__abs-left,
        &__abs-right {
            display: none;
        }
    }
    .home {
        &__text {
            margin-left: 200px;
        }
        &__quality {
            margin-left: 260px;
        }
    }
}

@media (max-width: 1001px) {
    body {
        background: #011a26;
    }
    // .container {
    //     max-width: 1000px ;
    // }
    .header {
        overflow: hidden;
        &__abs-left {
            left: -86px;
        }
        &__abs-right {
            right: -102px;
            top: 54px;
        }
        &__abs-right-low {
            right: -102px;
        }
        &__logo {
            padding-left: 102px;
            margin-left: 0;
        }
        &__logo-wrapper {
            padding-left: 49px;
        }
        &__line-left {
            left: 45px;
            top: 99px;
        }
        &__line-left_blue {
            left: 45px;
            top: 99px;
        }
        &__low {
            justify-content: start;
            align-items: flex-end;
        }
        &__menu {
            padding-left: 56px;
        }
        &__phone {
            padding-right: 53px;
        }
    }
    .home {
        overflow: hidden;
        &__submenu {
            padding: 0;
            li {
                margin-right: 69px;
            }
        }
        &__quality {
            margin-left: 226px;
            font-size: 84px;
            line-height: 80px;
        }
        &__text {
            font-size: 54px;
            line-height: 40px;
            margin-left: 114px;
            span {
                font-size: 36px
            }
        }
    }
    .carousel {
        overflow: hidden;
        &__two__desrc {
            font-size: 16px;
        }
        &__two_middle {
            margin-top: 40px;
        }
        &__two_low {
            margin-top: 30px;
        }
        &__two {
            margin-left: 120px;
            width: unset;
            height: unset;
        }
        &__text {
            margin-left: 114px;
        }
        .logo_1 {
            max-width: 120px;
        }
        .logo_4 {
            max-width: 157px;
        }
        .logo_5 {
            min-width: 130px;
        }
        .slick-prev {
            left: 50px;
        }
        .slick-next {
            right: 60px;
        }
    }
    .about {
            padding-top: 48px;
        &__wrapper {
            margin-left: 87px;
        }
        &__descr {
            width: 100%;
            p {
                padding-right: 101px;
            }
        }
        &__wrapper-btn {
            margin-left: 0;
            display: flex;
            justify-content: flex-end;
            padding-right: 88px;
        }
        &__img {
            top: -47px;
            right: 17px;
        }
    }
    .products {
        &__wrapper {
            margin-left: 86px;
        }
        &__descr {
            width: 100%;
        }
        &__item-img {
            img {
                max-width: 197px;
                height: auto;
            }
        }
        &__item {
            margin-right: 13px;
        }
        &__item-wrapper {
            font-size: 11px;
            line-height: 15px;
            padding: 0 17px;
        }
        &__item-descr {
            font-size: 16px;
            line-height: 21px;
            margin-top: 24px;
        }
        &__btn {
            margin-left: 0;
            margin-top: 50px;
        }
        &__wrapper-btn {
            display: flex;
            justify-content: flex-end;
            padding-right: 88px;
        }
        &__wrapper-item {
            margin-top: 30px;
        }
    }
    .services {
        &__wrapper {
            margin-left: 0;
        }
        .title {
            margin-left: 86px;
        }
        &__item {
            max-width: 259px;
            margin-right: 25px;
        }
        &__descr {
            width: auto;
            font-size: 20px;
            line-height: 36px;
            margin-left: 86px;
            p {
                padding-right: 75px;
            }
        }
        &__img img {
            min-height: 282px;
        }
        &__item-descr {
            margin-top: 16px;
            font-size: 12;
            line-height: 21px;
        }
        &__wrapper-item {
            margin-top: 25px;
            justify-content: center;
        }
        &__wrapper-img {
            left: 65px;
        }
    }
    .installations {
        .container {
            max-width: 100%;
        }
        padding-top: 50px;
        .resolution_1000px {
            display: block;
        }
        .resolution_desctop {
            display: none;
        }
        &__wrapper-block {
            margin: 40px 0 0 73px;
            padding-right: 90px;
            p {
                width: auto;
            }
        }
        &__wrapper-info {
            width: auto;
        }
        &__wrapper-btn {
            margin-left: auto;
            margin-top: 64px;
        }
        &__wrapper-img {
            top: -20px;
            left: 385px;
        }
    }
    .articles {
        .container {
        max-width: 900px;
        }
        padding-top: 84px;
        &__wrapper {
            width: auto;
        }
        &__wrapper-last {
            width: auto;
        }
        &__link {
            justify-content: flex-end;
            margin-left: auto;
            margin-right: 0px;
            margin-top: 56px;
        }
        &__text {
            margin-left: 38px;
            p {
                line-height: 28px;
            }
        }
        &__btn {
            margin: 34px 24px 0 0;
        }
        &__wrapper-top {
            top: auto;
            bottom: -23px;
        }
        &__wrapper-low {
            top: 282px;
        }
    }
    .reviews {
        &__wrapper>img:first-child {
            left: -145px;
        }
        .title {
            margin-left: 86px;
        }
        &__wrapper-img {
            left: 73px;
        }
        &__wrapper-comment {
            margin-left: 225px;
        }
        &__text {
            padding-right: 90px;
            width: auto;
            margin-top: 20px;
        }
        &__wrapper-right {
            justify-content: flex-end;
            margin-top: 94px;
            margin-right: 90px;
            margin-left: auto;
        }
        
    }
    .contacts {
        iframe {
            height: 468px;
        }
        &__wrapper {
            margin-left: 52px;
        }
        &__wrapper-img {
            left: 35px;
        }
        &__wrapper-item {
            padding-right: 30px;
            &:last-child {
                padding-right: 30px;
            }
        }
        &__768px {
            margin-right: 0;
        }
        &__wrapper-contact-deep {
            margin-left: 50px;
            justify-content: space-between;
            margin-right: 50px;
        }
    }
    .footer {
        &__wrapper-left {
            left: 0;
        }
        &__map-left {
            right: 84px;
        }
        &__map-right,
        &__wrapper-right {
            display: none;
        }
        &__ecva-2 {
            display: block;
            position: absolute;
            left: auto;
            right: 0;
            top: 0px;
        }
        &__ecva-3 {
            display: block;
            position: absolute;
            left: auto;
            right: 0;
            top: -62px;
        }
        &__copy {
            padding: 0px 55px;
        }
        &__copyright {
            margin-right: auto;
            margin-left: 0;
        }
        &__text {
            margin-right: auto;
        }
    }
}

@media (min-width: 901px) and (max-width: 1001px) {
    .container {
        max-width: 100%;
    }
    .header {
        &__logo {
            padding-left: 94px;
        }
        &__logo-wrapper {
            padding-left: 40px;
        }
        &__menu {
            padding-left: 15px;
        }
        &__menu_item {
            margin-right: 15px;
        }
        &__line-left {
            top: 107px;
        }
        &__line-left_blue {
            top: 106px;
        }
    }
}

@media (min-width: 852px) and (max-width: 1001px) {
    .container {
        max-width: 100%;
    }
    .services {
        &__item {
            &:nth-child(3),
            &:nth-child(6) {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 770px) and (max-width: 826px) {
    .container {
        max-width: 100%;
    }
    .services {
        &__item {
            &:nth-child(even) {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 770px) and (max-width: 900px) {
    .container {
        max-width: 100%;
    }
    .header {
        &__logo {
            padding-left: 52px;
        }
        .logo_1 {
            max-width: 120px;
        }
        &__logo-wrapper {
            padding-left: 10px;
        }
        .logo_2,
        .logo_3 {
            max-width: 90px;
        }
        &__phone {
            padding-right: 20px;
        }
        &__menu {
            padding-left: 12px;
            &_item {
                margin-right: 12px;
            }
            &_link {
                font-size: 11px;
            }
        }
    }
}

@media (min-width: 770px) and (max-width: 930px) {
    .container {
        max-width: 100%;
    }
    .articles {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 770px) and (max-width: 894px) {
    .container {
        max-width: 100%;
    }
    .home {
        &__submenu li {
            margin-right: 30px;
            a {
                font-size: 12px;
            }
        }
    }
}



@media (max-width: 769px) {
    body {
        background: #011a26;
    }
    .container {
        max-width: 100%;
    }
    .header {
        overflow: hidden;
        padding: 37px 0 19px 0;
        &__logo {
            padding-left: 69px;
        }
        &__logo-wrapper {
            padding-left: 35px;
            display: flex;
            img {
                &:first-child {
                    margin-left: 0;
                    margin-right: 3px;
                }
            }  
        }
        &__phone {
            padding-right: 35px;
            a {
                font-size: 14px;
                margin-bottom: 4px;
            }
        }
        &__button {
            width: 146px;
            height: 36px;
            font-size: 12px;
        }
        &__low {
            align-items: flex-end;
            margin-top: 5px;
        }
        &__menu {
            padding-left: 18px;
            margin-bottom: -3px;
        }
        &__menu_item {
            margin-right: 17px;
        }
        &__menu_link {
            font-size: 10px;
        }
        .logo_1 {
            max-width: 111px;
        }
        .logo_2 {
            max-width: 88px;
            margin-right: 4px;
        }
        .logo_3 {
            max-width: 88px;
        }
        &__abs-left {
            left: -101px;
        }
        &__abs-right {
            top: 50px;
            right: -115px;
        }
        &__line-left {
            top: 104px;
        }
        &__line-left_blue {
            top: 103px;
        }
        &__abs-right-low {
            right: -115px;
        }
    }
    .home {
        &__submenu {
            display: flex;
            justify-content: space-between;
            width: 700px;
            padding: 0 25px;
            margin: 0 auto;
        }
        &__submenu li {
            margin-right: 0px;
            a {
                font-size: 11px;
            }
        }
        &__text {
            font-size: 50px;
            line-height: 41px;
            margin-top: 197px;
            margin-left: 103px;
            span {
                font-size: 34px;
            }
        }
        &__quality {
            font-size: 80px;
            margin-left: 155px;
            line-height: 0.9;
        }
    }
    .carousel {
        overflow: hidden;
        &__slide-one, &__slide-two {
            height: 480px;
        }
        &__two__desrc {
            font-size: 15px;
        }
        &__two {
            padding: 25px 18px;
            width: 250px;
            height: 350px;
            margin-left: 79px;
        }
        &__two_middle {
            margin-top: 38px;
        }
        &__two_low {
            margin-top: 30px;
        }
        .slick-prev {
            left: 30px;
        }
        .slick-next {
            right: 40px;
        }
        .logo_1 {
            max-width: 111px;
        }
        .logo_4 {
            max-width: 145px;
        }
        .logo_5 {
            max-width: 120px;
        }
    }
    .about {
        padding-top: 72px;
        overflow: hidden;
        &__wrapper {
            margin-left: 60px;
        }
        &__descr {
            font-size: 18px;
            line-height: 30px;
            margin-top: 45px;
            width: 100%;
            box-sizing: border-box;
            p {
                padding-right: 70px;
            }

        }
        &__wrapper-btn {
            justify-content: flex-end;
            margin-left: 0;
            padding-right: 60px;
        }
        &__img {
            top: -71px;
            right: -78px;
        }
    }
    .products {
        overflow: hidden;
        &__wrapper {
            margin-left: 60px;
        }
        &__descr {
            width: 100%;
            font-size: 18px;
            line-height: 30px;
        }
        &__wrapper-item {
            margin-top: 39px;
        }
        &__item {
            margin-right: 11px;
        }
        &__item-img {
            img {
                min-width: 154px;
                max-height: 134px;
            }
        }
        &__item-descr {
            font-size: 11px;
            margin-top: 20px;
            line-height: 16px;
        }
        &__item-wrapper {
            font-size: 9px;
            line-height: 12px;
            padding: 0px 11px;
        }
        &__wrapper-btn {
            display: flex;
            justify-content: flex-end;
            padding-right: 60px;
            a {
                margin-left: 0;
            }
        }
    }
    .services {
        overflow: hidden;
        &__wrapper {
            margin-left: 0;
        }
        .title {
            margin-left: 60px;
        }
        &__item {
            max-width: 211px;
            margin-right: 22px;
            &:nth-child(even) {
                margin-right: 0;
            }
        }
        &__descr {
            width: 100%;
            font-size: 18px;
            line-height: 30px;
            margin-left: 60px;
        }
        &__img img {
            min-height: 237px;
        }
        &__wrapper-item {
            justify-content: center;
        }
        &__wrapper-img {
            left: 38px;
        }
    }
    .installations {
        .container {
            max-width: 100%;
        }
        overflow: hidden;
        padding-top: 50px;
        .resolution_1000px {
            display: none;
        }
        &__wrapper {
            .resolution_768px {
                display: block;
            }
            > img {
                max-width: 260px;
                &:first-child {
                    display: none;
                }
            }
        }
        &__wrapper-block {
            margin: 40px 0 0 46px;
            padding-right: 63px;
        }
        &__wrapper-img {
            top: -20px;
            left: 270px;
        }
        .descr {
            padding-bottom: 30px;
            p {
                width: auto;
            }
        }
        &__wrapper-btn {
            margin-left: auto;
        }
    }
    .articles {
        padding-left: 36px;
        padding-right: 36px;
        .container {
            max-width: 100%;
        }
        padding-top: 66px;
        &__wrapper {
            overflow: hidden;
        }
        &__wrapper-last {
            height: 281px;
            overflow: hidden;
        }
        &__subtitle {
            margin-top: 35px;
        }
        &__text {
            margin-left: 24px;
            margin-top: 20px;
            p {
                font-size: 16px;
                line-height: 28px;
            }
        }
        &__btn {
            margin: 24px 22px 0 0;
            
        }
        &__wrapper-low {
            top: 283px;
        }
        &__link {
            margin-top: 50px;
            justify-content: flex-end;
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .contacts {
        iframe {
            height: 396px;
        }
        &__wrapper {
            margin-left: 59px;
        }
        &__wrapper-item {
            min-width: 141px;
            margin-top: 18px;
            padding-right: 30px;
        }
        &__768px {
            flex-wrap: wrap;
        }
        &__wrapper-img {
            left: 45px;
        }
        &__wrapper-contact-deep {
            padding-top: 15px;
        }
        &__wrapper-button {
            margin-top: 18px;
            margin-right: 60px;
        }
        
    }
    .footer {
        overflow: visible;
        &__copyright {
            margin-right: auto;
            margin-left: 0;
        }
        &__text {
            margin-right: auto;
        }
        &__copy {
            padding: 0 35px;
        }
        &__map-left,
        &__map-right,
        &__wrapper-left,
        &__wrapper-right {
            display: none;
        }
        &__ecva-1,
        &__ecva-2,
        &__ecva-3,
        &__ecva-4 {
            display: block;
        }
        &__ecva-1 {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        &__ecva-2 {
            position: absolute;
            left: auto;
            right: 0;
            top: 0px;
        }
        &__ecva-3 {
            position: absolute;
            left: auto;
            right: 41px;
            top: -62px;
        }
        &__ecva-4 {
            position: absolute;
            left: auto;
            right: 0;  
            top: -50px;
        }
    }
    .reviews {
        .container {
            max-width: 100%;
        }
        .title {
            margin-left: 60px;
        }
        &__wrapper {
            padding-bottom: 46px;
            .reviews_768px {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                height: 100%;
            }
            > img {
                &:nth-child(1) {
                    display: none;
                }
            }
        }
        &__wrapper-comment {
            margin-left: 175px;
            left: 0;
        }
        &__text {
            width: auto;
            font-size: 14px;
            line-height: 24px;
            padding-right: 63px;
            margin-top: 15px;
        }
        &__wrapper-right {
            margin-left: 0;
        }
        &__wrapper-right {
            justify-content: flex-end;
            padding-right: 37px;
            margin-top: 40px;
            margin-right: auto;
        }
        &__wrapper-img {
            left: 45px;
        }
        
    }
}

@media (min-width: 677px) and (max-width: 770px) {
    .container {
        max-width: 100%;
    }
    .services {
        &__item {
            margin-right: 10px;
            &:nth-child(even) {
                margin-right: 10px;
            }
            &:nth-child(3),
            &:nth-child(6) {
                margin-right: 0;
            }
        }
        &__descr p {
            padding-right: 62px;
        }
    }
}

@media (min-width: 601px) and (max-width: 677px) {
    .container {
        max-width: 100%;
    }
    .home {
        &__submenu li a {
            font-size: 10px;
        }
    }
}

@media (min-width: 735px) and (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    .footer {
        &__menu {
            padding-left: 25px;
        }
    }
}

@media (min-width: 700px) and (max-width: 734px) {
    .container {
        max-width: 100%;
    }
    .header {
        &__menu_item {
            margin-right: 12px;
        }
    }
    .footer {
        &__menu {
            padding-left: 25px;
        }
    }
}

@media (min-width: 617px) and (max-width: 699px) {
    .container {
        max-width: 100%
    }
    .header {
        &__logo-wrapper {
            padding-left: 10px;
        }
        &__menu_item {
            margin-right: 9px;
        }
        &__line-left,
        &__line-left_blue {
            top: 103px;
        }
        &__abs-right {
            top: 61px;
        }
        &__phone {
            padding-right: 10px;
        }
        &__menu {
            padding-left: 15px;
        }
        &__menu_link {
            font-size: 9px;
        }
        &__logo {
            padding-left: 45px;
        }
    }
    .footer {
        &__menu {
            padding-left: 25px;
        }
    }
}

@media (min-width: 482px) and (max-width:616px) {
    .container {
        max-width: 100%
    }
    .header {
        &__menu {
            padding-left: 10px;
        }
        &__logo {
            padding-left: 39px;
        }
        &__menu_link {
            font-size: 9px;
        }
        &__menu_item {
            margin-right: 8px;
        }
        &__logo-wrapper {
            padding-left: 5px;
        }
        &__line-left,
        &__line-left_blue {
            top: 103px;
        }
        &__abs-right {
            top: 61px;
        }
    }
    .footer {
        &__menu {
            padding-left: 25px;
        }
    }
}
@media (min-width: 482px) and (max-width: 745px) {
    .container {
        max-width: 100%;
    }
    .contacts {
        &__wrapper-contact-deep {
            flex-direction: column;
        }
    }
}

@media (min-width: 482px) and (max-width: 685px) {
    .container {
        max-width: 100%;
    }
    .footer {
        &__ecva-1,
        &__ecva-2 {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    body {
        background: #011a26;
    }
    .container {
        max-width: 100%;
    }
    .header {
        overflow: hidden;
        padding: 26px 0 13px 0;
        nav {
            align-self: center;
        }
        &__wrapper {
            margin-right: 11px;
        }
        .logo_1 {
            max-width: 105px;
        }
        .logo_2 {
            max-width: 83px;
        }
        &__abs-right {
            top: 64px;
            right: -115px;
        }
        &__menu_link {
            font-size: 9px;
        }
        &__low {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__logo-wrapper {
            margin-left: 0;
            padding-left: 26px;
            img {
                &:first-child {
                    margin-left: 0;
                    margin-right: 5px;
                }
            }
            
        }
        &__menu {
            padding-left: 14px;
            margin-top: 14px;
        }
        &__menu_item {
            margin-right: 11px;
        }
        &__btn {
            position: absolute;
            top: 61px;
            right: 0;
            padding-right: 11px;
        }
        &__phone {
            padding-right: 0;
            a {
                font-size: 12px;
            }
        }   
        &__low {
            margin-top: 12px;
        }
        &__logo {
            padding-left: 59px;
        }
        &__button {
            width: 134px;
            height: 33px;
            font-size: 11px;
        }
        &__line-left, &__line-left_blue {
            top: 117px;
            left: -15px;
        }
    }
    .home {
        &__wrapper {
            padding: 5px 0 5px 0;
        }
        &__submenu {
            flex-direction: column;
            align-items: center;
            li a {
                font-size: 10px;
            }
        }
        &__quality {
            font-size: 59px;
            margin-left: 121px;
        }
        &__text {
            margin-left: 72px;
            font-size: 38px;
            line-height: 31px;
            span {
                font-size: 25px;
            }
        }
    }
    .carousel {
        &__two {
            width: auto;
            height: auto;
            margin-top: 90px;
        }
        &__two__desrc {
            line-height: 20px;
        }
        .slick-prev {
            left: 10px;
        }
        .slick-next {
            right: 10px;
        }
        svg {
            width: 26px;
        }
    }
    .about {
        &__img {
            right: -80px;
        }
        &__descr {
            font-size: 16px;
            line-height: 24px;
            p {
                padding-right: 25px;
            }
        }
        &__btn {
            margin-top: 30px;
        }
        &__wrapper {
            margin-left: 25px;
        }
        &__wrapper-btn {
            padding-right: 25px;
        }
    }
    .products {
        overflow: hidden;
        &__wrapper-item {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 19px;
        }
        &__item {
            margin-top: 20px;
            margin-right: 31px;
            &:last-child {
                margin-right: 31px;
            }
        }
        &__descr {
            font-size: 16px;
            line-height: 24px;
            P {
                padding-right: 5px;
            }
        }
        &__wrapper {
            margin-left: 25px;
        }
        &__wrapper-btn {
            padding-right: 25px;
        }
    }
    .services {
        overflow: hidden;
        &__wrapper {
            margin-left: 0;
        }
        &__wrapper-item {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            max-width: 203px;
            margin-right: 20px;
            &:nth-child(even) {
                margin-right: 0px;
            }
        }
        &__item-descr {
            font-size: 13px;
            line-height: 17px;
        }
        .title {
            margin-left: 25px;
        }
        &__descr {
            margin-left: 25px;
            font-size: 16px;
            line-height: 24px;
            p {
                padding-right: 20px;
            }
        }
        &__wrapper-img {
            left: 8px;
        }
    }
    .installations {
        overflow: hidden;
        padding-top: 50px;
        .resolution_768px {
            display: none;
        }
        .resolution_480px {
            display: block;
            max-width: 100%;
        }
        &__wrapper {
            flex-direction: column;
        }
        &__wrapper-block {
            margin-left: 26px;
            margin-top: 32px;
            padding-right: 25px;
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &__wrapper-btn {
            margin-top: 40px;
        }
        &__wrapper-img {
            left: 0;
        }
    }
    .articles {
        padding-left: 10px;
        padding-right: 10px;
        .container {
            max-width: 100%;
        }
        &__wrapper {
            max-width: 100%;
        }
        &__wrapper-last {
            max-width: 100%;
        }
        &__btn {
            margin-left: auto;
            margin: 20px 10px 0px;
            margin-top: 55px;
        }
        &__wrapper-btn {
            display: flex;
            justify-content: flex-end;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__text p {
            line-height: 24px;
        }
        &__wrapper-last {
            height: auto;
        }
        &__wrapper-top {
            top: auto;
            bottom: -23px;
            left: 5px;
        }
        &__wrapper-low {
            top: auto;
            bottom: -23px;
            left: 5px
        }
        &__link {
            margin-right: 0;
        }
    }
    .reviews {
        overflow: hidden;
        .reviews_768px {
            max-width: 480px;
            max-height: 456px;
            top: 205px;
        }
        &__wrapper {
            padding-bottom: 20px;
        }
        &__wrapper-comment {
            margin-left: 25px;
        }
        &__text {
            padding-right: 30px;
        }
        &__wrapper-right {
            margin-top: 55px;
            padding-right: 25px;
        }
        .title {
            margin-left: 25px;
           
        }
        &__wrapper-img {
            left: 10px;
        }
    }
    .contacts {
        overflow: hidden;
        iframe {
            height: 285px;
        }
        &__wrapper {
            margin-left: 23px;
        }
        &__wrapper-contact-deep {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }
        .contacts__768px {
            margin-left: 25px;
        }
        &__wrapper-button {
            padding-left: 25px;
        }
        &__wrapper-contact {
            padding-bottom: 23px;
        }
        &__wrapper-img {
            left: 10px;
        }
    }
    .footer {
        height: auto;
        &__ecva-1,
        &__ecva-2,
        &__ecva-3,
        &__ecva-4 {
            display: none;
        }
        .logo_1 {
            max-width: 60px;
        }
        .logo_2 {
            max-width: 115px;
        }
        .logo_3 {
            max-width: 96px;
        }
        &__wrapper-logo {
            justify-content: space-between;
            padding: 0 55px;
            img {
                margin-right: 0;
            }
        }
        &__menu_item {
            margin-right: 15px;
            a {
                font-size: 9px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &__copy {
            padding: 0 15px;
            margin-top: 0;
        }
        &__menu {
            margin-top: 40px;
            padding-left: 0;
        }
        &__ecva480_1 {
            display: block;
            position: absolute;
            top: 0px;
            left: 0;
        }
        &__ecva480_2 {
            display: block;
            position: absolute;
            top: -46px;
            left: auto;
            right: 0;
        }
        &__ecva480_3 {
            display: block;
            position: absolute;
            left: auto;
            right: 0;
            top: 0px;
        }
    }
}

@media (min-width: 481px) and (max-width: 530px) {
    .container {
        max-width: 100%;
    }
    .articles {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 322px) and (max-width:435px) {
    .container {
        max-width: 100%;
    }
    .header {
        &__button {
            width: 120px;
        }
        &__menu {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__line-left,
        &__line-left_blue {
            top: 136px;
        }
        &__abs-right {
            top: 82px;
        }
        &__logo-wrapper {
            margin-left: 0;
            padding-left: 14px;
        }
        &__logo {
            padding-left: 47px;
        }
    }
    .home {
        &__text {
            margin-left: 14px;
        }
        &__quality {
            margin-left: 17px;
        }
    }
    .products {
        &__wrapper {
            margin-left: 25px;
        }
    }
    .services {
        .title, &__descr {
            margin-left: 0;
        }
        &__wrapper {
            margin-left: 25px;
        }
        &__wrapper-img {
            left: -15px;
        }
        &__item {
            margin-right: 4px;
        }
    }
    .articles {
        padding: 66px 10px 0;
        &__link {
            padding-right: 5px;
        }
    }
    .installations {
        &__wrapper-img {
            top: -20px;
            left: 0;
        }
    }
    .footer {
        &__menu {
            padding-left: 15px;
        }
    }
}

@media (min-width: 322px) and (max-width: 410px) {
    .container {
        max-width: 100%;
    }
    .services {
        &__item {
            max-width: 250px;
        }
        &__item-descr {
            font-size: 16px;
        }
    }
}

@media (min-width: 375px) and (max-width: 376px) {
    .container {
        max-width: 100%;
    }
    .carousel {
        &__two {
            margin-left: 60px;
        }
    }
}

@media (min-width: 322px) and (max-width: 434px) {
    .container {
        max-width: 100%;
    }
    .services {
        &__wrapper {
            margin-left: 0;
        }
        .title {
            margin-left: 25px;
        }
        &__descr {
            margin-left: 25px;
        }
        &__wrapper-img {
            left: 5px;
        }
        &__descr p {
            padding-right: 25px;
        }
    }
}

@media (min-width: 322px) and (max-width: 398px) {
    .container {
        max-width: 100%;
    }
    .products {
        &__item {
            margin-right: 10px;
            &:last-child {
                margin-right: 10px;
            }
            &-img {
                img {
                        max-width: 131px;
                        min-width: auto;
                        max-height: 140px;
                }
            }
        }
        &__wrapper-item {
            padding-right: 15px;
        }
    }
}

@media (min-width: 322px) and (max-width: 388px) {
    .container {
        max-width: 100%;
    }
    .reviews {
        &__link a {
            font-size: 14px;
        }
        &__btn {
            margin-left: 20px;
            width: 170px;
            font-size: 16px;
        }
    }
}

@media (min-width: 376px) and (max-width: 398px) {
    .container {
        max-width: 100%;
    }
    .products {
        &__item-img {
            img {
                max-width: 154px;
            }
        }
    }
}

@media (min-width: 356px) and (max-width: 375px) {
    .container {
        max-width: 100%;
    }
    .products {
        &__item-img {
            img {
                max-width: 148px;
            }
        }
    }
}

@media (min-width: 341px) and (max-width: 355px) {
    .container {
        max-width: 100%;
    }
    .products {
        &__item-img {
            img {
                max-width: 140px;
            }
        }
    }
}

@media (min-width: 330px) and (max-width: 340px) {
    .container {
        max-width: 100%;
    }
    .products {
        &__item-img {
            img {
                max-width: 135px;
            }
        }
    }
}

@media (min-width: 322px) and (max-width: 380px) {
    .container {
        max-width: 100%;
    }
    .contacts {
        &__wrapper-contact {
            padding-bottom: 10px;
        }
        &__wrapper-button {
            padding-left: 25px;
            margin-right: 25px;
        }
        &__button {
            width: 100%;
        }
    }
    .about {
        &__wrapper-btn {
            padding-right: 25px;
            padding-left: 25px;
        }
        &__btn {
            width: 100%;
        }
    }
    .reviews {
        &__wrapper-right {
            flex-direction: column-reverse;
            align-items: flex-end;
        }
        &__link {
            margin-top: 20px;
        }
    }
    .products {
        &__wrapper-btn {
            padding-right: 25px;
            padding-left: 25px;
        }
        &__btn {
            width: 100%;
        }
    }

}

@media (min-width: 322px) and (max-width: 450px) {
    .container {
        max-width: 100%;
    }
    .carousel {
        &__two {
            margin: 0 auto;
            margin-top: 90px;
        }
    }
}

@media (max-width: 321px)  {
    body {
        background: #011a26;
    }
    .container {
        max-width: 100%;
    }
    .header {
        .container {
            max-width: 100%;
        }
        padding: 26px 0 0 0;
        nav,
        &__abs-left,
        &__abs-right,
        &__btn {
            display: none;
        }
        &__line-left,
        &__line-left_blue {
            top: 128px;
        }
        &__button {
            margin-top: 16px;
            padding: 13px 0 16px 0;
            width: 100%;
            height: auto;
            font-size: 14px;
        }
        &__logo {
            padding-left: 35px;
        }
        .logo_2 {
            max-width: 66px;
            max-height: 17px;
        }
        .logo_3 {
            max-width: 66px;
            max-height: 17px;
        }
        &__block320px {
            display: block;
        }
        &__logo-wrapper {
            margin-left: 0;
            padding-left: 20px;
        }
        &__phone {
            position: absolute;
            top: 55px;
            left: 205px;
        }
        &__hamburger {
            display: block;
            position: absolute;
            top: 14px;
            right: 16px;
            span {
                display: block;
                width: 37px;
                height: 6px;
                background-color: #0c2c56;
                &:nth-child(even) {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }
        &__menu {
            flex-direction: column;
            padding: 0;
            margin: 0;
            &_link {
                font-size: 12px;
            }
            &_item {
                margin-right: 0;
            }
        }
    }
    .carousel {
        &__one {
            margin: 0 auto;
        }
        &__two {
            margin: 0 auto;
            margin-top: 40px;
            padding: 20px 14px;
            &__desrc {
                font-size: 12px;
                margin-top: 10px;
            }
            &_middle {
                margin-top: 30px;
            }
            &_low {
                margin-top: 25px;
            }
        }
        .logo_1 {
            max-width: 88px;
        }
        .logo_4 {
            max-width: 115px;
        }
        .logo_5 {
            min-width: 95px;
        }
    }
    .home {
        &__text {
            margin-left: 0;
            padding-left: 7px;
            font-size: 29px;
            text-align: left;
            line-height: 23px;
            span {
                font-size: 19px;
            }
        }
        &__quality {
            margin-left: 0;
            font-size: 45px;
            text-align: center;
        }
    }
    .about {
        &__img {
            right: -73px;
        }
        &__wrapper {
            margin-left: 15px;
        }
        &__descr {
            font-size: 12px;
            padding-right: 7px;
        }
        &__wrapper-btn {
            margin-right: 0;
            padding-right: 15px;
        }
        &__wrapper-img {
            top: 35px;
            left: -10px;
            img {
                max-width: 333px;
            }
        }
    }
    .products {
        padding-top: 61px;
        &__wrapper {
            margin-left: 15px;
        }
        &__wrapper-img {
            top: 35px;
            left: -10px;
            img {
                max-width: 333px;
            }
        }
        &__descr {
            font-size: 12px;
        }
        &__item-img {
            img {
                min-width: 140px;
                max-height: 120px;
            }
        }
        &__item {
            margin-right: 10px;
            &:nth-child(even) {
                margin-right: 0;
            }
        }
        &__item-descr {
            margin-top: 18px;
            line-height: 15px;
        }
        &__item-wrapper {
            line-height: 11px;
        }
        &__wrapper-item {
            margin-top: 10px;
            padding-right: 15px;
        }
        &__wrapper-btn {
            margin-right: 0;
            padding-right: 15px;
        }
    }
    .services {
        .title {
            margin-left: 0;
        }
        &__wrapper-img {
            top: 35px;
            left: -10px;
            img {
                max-width: 333px;
            }
        }
        &__descr {
            margin-top: 40px;
            margin-left: 0;
            font-size: 12px;
        }
        &__item {
            margin-right: 0;
            max-width: 204px;
            margin-bottom: 30px;
        }
        &__item-subtitle {
            font-size: 14px;
            height: 47px;
            line-height: 35px;
        }
        &__emphty {
            height: 55px;
        }
        &__wrapper {
            margin-left: 15px;
        }
        &__wrapper-item {
            padding-right: 15px;
            justify-content: center;
        }
        &__item-descr {
            font-size: 13px;
        }
    }
    .installations {
        padding-top: 20px;
        .container {
            max-width: 100%;
        }
        .resolution_480px {
            display: none;
        }
        .resolution_320px {
            display: block;
            min-width: 336px;
            height: auto;
        }
        &__wrapper-img {
            top: -14px;
            left: 0;
            img {
                max-width: 333px;
            }
        }
        &__wrapper-block {
            margin-left: 15px;
        }
        .descr p {
            font-size: 12px;
        }
        &__wrapper-btn {
            margin-left: 145px;
        }
    }
    .articles {
        .container {
            max-width: 290px;
        }
        &__wrapper {
            margin-top: 35px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__text {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            p {
                font-size: 12px;
            }
        }
        &__btn {
            margin: 20px 15px 0px;
            margin-top: 27px;
        }
        &__wrapper-top {
            top: 508px;
            img {
                max-width: 333px;
            }
        }
        &__wrapper-low {
            top: 312px;
            img {
                max-width: 333px;
            }
        }
    }
    .reviews {
        .container {
            max-width: 100%;
        }
        .title {
            margin-left: 15px;
        }
        .reviews_768px {
            top: 333px;
        }
        &__subtitle {
            padding-top: 40px;
        }
        &__wrapper-img {
            left: 0;
            top: -13px;
            img {
                max-width: 333px;
            }
        }
        &__wrapper-comment {
            margin-left: 15px;
        }
        &__wrapper-right {
            margin-top: 25px;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 15px;
        }
        &__wrapper-btn {
            margin-top: 20px;
        }
        &__text {
            font-size: 12px;
        }

    }
    .contacts {
        iframe {
            max-height: 285px;
        }
        padding-top: 57px;
        &__wrapper {
            margin-left: 15px;
        }
        .contacts__768px {
            margin-left: 15px;
            margin-right: 15px;
            flex-wrap: wrap;
        }
        &__wrapper-subtitle,
        &__wrapper-text {
            font-size: 14px;
        }
        &__wrapper-item {
            min-width: 125px;
            &:nth-child(even) {
                padding-right: 0;
            }
        }
        &__wrapper-contact-deep {
            align-items: center;
        }
        &__wrapper-button {
            margin: 0 auto;
            padding-left: 0;
            width: 100%;
        }
        &__button {
            width: 100%;
            height: auto;
            font-size: 14px;
            padding: 14px 0 16px 0;
            margin-top: 35px;
        }
        &__wrapper-contact {
            padding-bottom: 0;
        }
        &__wrapper-img {
            left: 0;
            top: 108px;
            img {
                max-width: 333px;
            }
        }
        &__map-right {
            display: block;
            position: absolute;
            top: 612px;
            left: 289px;
        }
    }
    .footer {
        overflow: hidden;
        padding-top: 40px;
        .logo_1 {
            max-width: 45px;
            max-height: 13px;
        }
        .logo_2 {
            max-width: 86px;
            max-height: 13px;
        }
        .logo_3 {
            max-width: 72px;
            max-height: 12px;
        }
        &__wrapper-logo {
            padding: 0 20px;
        }
        &__copyright {
            font-size: 10px;
        }
        &__text {
            font-size: 10px;
        }
        &__menu {
            margin-top: 30px;
            flex-wrap: wrap;
        }
        &__menu_item {
            margin-right: 20px;
        }
        &__ecva480_3 {
            left: 289px;
        }
        &__ecva480_1 {
            left: -32px;
        }
        &__ecva480_2 {
            display: none;
        }

    }
    .modal {
        max-width: 317px;
        &__captcha-img {
            img {
                max-width: 104px;
            }
        }
        &__input {
            margin-top: 7px;
        }
        &__captcha-input {
            margin-top: -3px;
        }
        &_review_thanks,
        &_consultation_thanks {
            max-width: 260px;
        }
    }
}