@media (max-width: 1001px) {
    .shop {
        &__descr_acoustics {
            min-width: auto;
        }
    }
}

@media (min-width: 860px) and (max-width: 918px) {
    .shop {
        &__card_parameters {
            font-size: 12px;
        }
        &__card_description {
            padding-right: 10px;
        }
    }
}