.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
label {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    span {
        color: #c10808;
        font-size: 13px;
    }
}
.label__stars {
    font-size: 14px;
}
.modal {
    width: 347px;
    min-height: 479px;
    border: 2px solid #fdb508;
    background: rgba(255,255, 255, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 33px 18px 30px;
    box-sizing: border-box;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__top-subtitle {
        color: #011a26;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__top-close {
        width: 22px;
        height: 22px;
        font-size: 50px;
        color: #9e9e9e;
        cursor: pointer;
        line-height: 5px;
        font-weight: 100;
    }
    &__input {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        input {
            width: 277px;
            height: 27px;
            border-radius: 2px;
            border: 1px solid #fdb508;
            background-color: #ffffff;
            margin-top: 8px;
        }
    }
    &__textarea {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
        textarea {
            width: 277px;
            height: 156px;
            border-radius: 2px;
            border: 1px solid #fdb508;
            background-color: #ffffff;
            resize: none;
            margin-top: 6px;
        }
        
    }
    &__captcha {
        display: flex;
        margin-top: 12px;
    }
    &__captcha-img {
        margin-top: 6px;
    }
    &__captcha-input {
        margin-left: 6px;
        input {
            width: 139px;
            height: 27px;
            border-radius: 2px;
            border: 1px solid #fdb508;
            background-color: #ffffff;

        }
        label {
            color: #000000;
            font-size: 12px;
            font-weight: 500;
            text-align: left;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        margin-top: 43px;
        
    }
    &__btn {
        width: 191px;
        height: 40px;
        background-color: #085086;
        border: none;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;

    }
}

#new_review {
    display: none;
}