.overlay {
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.56);
    width: 0px;
    height: 0;
    opacity: 0;
    left: 0;
    top: 0;
    transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
    z-index: 4000;
    &.visible {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.15s ease-out;
    }
}
label {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    span {
        color: #c10808;
        font-size: 15px;
    }
}
.label__stars {
    font-size: 15px;
}
.modal {
    max-width: 347px;
    min-height: 479px;
    border: 2px solid #fdb508;
    background: #0c2c56;
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 15px 33px 18px 30px;
    box-sizing: border-box;
    &_review_thanks,
    &_consultation_thanks {
        max-width: 260px;
        min-height: 400px;
        .modal__top {
            justify-content: center;
            &-subtitle {
                font-size: 20px;
            }
        }
        .modal__descr {
            text-align: center;
            margin-top: 20px;
            font-size: 16px;
            color: #b3b2b2;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__top-subtitle {
        color: #f4b407;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__top-close {
        width: 22px;
        height: 22px;
        font-size: 50px;
        color: #9e9e9e;
        cursor: pointer;
        line-height: 5px;
        font-weight: 100;
        &:hover, &:focus {
            color: #011a26;
        }
    }
    &__input {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        input {
            max-width: 279px;
            width: 100%;
            height: 27px;
            border-radius: 2px;
            border-radius: 2px;
            border: 2px solid #fdb508;
            background-color: #0c2c56;
            color: #b3b2b2;
            margin-top: 8px; 
            &::placeholder {
                color: red;
                padding-left: 7px;
                color: #b3b2b2;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    &__textarea {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
        textarea {
            max-width: 279px;
            width: 100%;
            height: 153px;
            border-radius: 2px;
            border: 2px solid #fdb508;
            background-color: #0c2c56;
            color: #b3b2b2;
            resize: none;
            margin-top: 6px;          
            &::placeholder {
                padding-left: 7px;
                padding-top: 5px;
                color: #b3b2b2;
                font-size: 14px;
                font-weight: 400;
            }

        }
        
    }
    &__captcha {
        display: flex;
        align-items: flex-start;
        margin-top: 17px;
    }
    &__captcha-img {
        margin-top: 22px;

    }
    &__captcha-input {
        margin-left: 6px;
        margin-top: 6px;
        input {
            width: 139px;
            height: 27px;
            border-radius: 2px;
            border: 2px solid #fdb508;
            background-color: #0c2c56;

        }
        label {
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            text-align: left;
            display: block;
            margin-bottom: 5px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        margin-top: 37px;
        
    }
    &__btn {
        width: 191px;
        height: 40px;
        background-color: #085086;
        border: none;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        &:hover, &:focus {
            background-color: #011a26;
        }

    }
    &.modal-phone {
        min-height: 200px;
        input {
            width: 100%;
            max-width: 279px;
            height: 27px;
            border-radius: 2px;
            border-radius: 2px;
            border: 2px solid #fdb508;
            background-color: #0c2c56;
            color: #b3b2b2;
            margin-top: 20px;
            &::placeholder {
                padding-left: 7px;
                color: #b3b2b2;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    
}