.reviews {
    padding-top: 52px;
    &__second {
        padding-top: 62px;
        padding-bottom: 181px;
    }
    .title {
        margin-left: 160px;
    }
    &__wrapper {
        background-color: #0c2c56;
        display: flex;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper-img {
        position: absolute;
        top: -19px;
        left: 145px;
    }
    &__wrapper-comment {
        position: absolute;
        top: 0;
        left: 330px;
    }
    &__subtitle {
        padding-top: 46px;
        color: #fdfdfd;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
    }
    &__text {
        margin-top: 29px;
        width: 780px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        &-second {
            width: 945px;
        }
    }
    &__wrapper-right {
        display: flex;
        align-items: center;
        margin-left: 475px;
        margin-top: 20px;
    }
    &__wrapper-second {
        display: flex;
        justify-content: flex-end;
        padding-right: 175px;
        padding-top: 24px;
    }
    &__date {
        color: #f4b407;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__link {
        a {
            color: #b4deff;
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            &:hover, &:focus {
                color: #98d4f5;
                text-decoration: none;
            }
        }
    }
    &__btn {
        cursor: pointer;
        margin-left: 48px;
        width: 191px;
        height: 40px;
        background-color: #085086;
        border: none;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover, &:focus {
            background-color: #011a26;
        }
        &-info {
            &:hover, &:focus {
                background-color: #0c2c56;
            }
        }
    }
    &__description {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
    }
    &__info {
        padding-left: 160px;
        display: flex;
        align-items: center;
        padding-bottom: 41px;
        padding-top: 35px;
    }
    &__wrapper-info {
        padding-left: 174px;
    }
    &__img {
        left: 455px;
        top: 280px;
        position: absolute;
    }
}

.comments {
    .comment {
        &:nth-child(odd) {
            background-color: #0c2c56;
        }
    }
    &__wrapper {
        padding-left: 160px;
        padding-bottom: 36px;
    }
}