.title {
    color: #f4b407;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
}
.title_inst {
    font-size: 24px;
}

.title_fz24 {
    font-size: 24px;
    font-weight: 500;
}
.title_card {
    font-size: 24px;
    font-weight: 400;
}
.title_fz18 {
    font-size: 18px;
    font-weight: 500;
}