
.wrapper__content_top {
    .title_content {
        margin-left: 0;
    }
}

.wrapper__content_top,
.wrapper__content_middle,
.wrapper__content_bottom,
.wrapper__content_low {
    max-width: 955px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper__content_low {
    overflow: visible;
}

@media (max-width: 1001px) {

    .wrapper__content_top,
    .wrapper__content_middle,
    .wrapper__content_bottom,
    .wrapper__content_low {
        max-width: 828px;
    }
    .wrapper__content_top {
        .title_content {
            margin-top: 40px;
        }
        .articles__img {
            margin-left: -15px;
        }
    }
}

@media (max-width: 769px) {

    .wrapper__content_top,
    .wrapper__content_middle,
    .wrapper__content_bottom,
    .wrapper__content_low {
        max-width: 649px;
    }
}

@media (max-width: 600px) {

    .wrapper__content_top,
    .wrapper__content_middle,
    .wrapper__content_bottom,
    .wrapper__content_low {
        max-width: 431px;
    }
}

@media (max-width: 321px) {

    .wrapper__content_top,
    .wrapper__content_middle,
    .wrapper__content_bottom,
    .wrapper__content_low {
        max-width: 291px;
    }
}

